<%- include('partials/header') %>
	<div class="jumbotron jumbotron">
	  <h1 class="display-3"><%= title %></h1>
	  <p class="lead">This is a home-banking netcentric solution created by group 7 for CSC444</p>
	  <hr class="my-4">
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
	    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
	  </p>
	</div>
<%- include('partials/footer') %>